fastapi==0.112.2
uvicorn[standard]==0.30.6
python-multipart==0.0.9
Jinja2==3.1.4
pydantic==2.8.2
PyMuPDF==1.25.1
google-generativeai==0.7.2
python-dotenv==1.0.1
pytesseract==0.3.13
pdf2image==1.17.0
pillow==10.4.0
